{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block heading %}
<header>
    <div class="flex flex-col mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 justify-between bg-gray-900">
        <h1 class="font-black tracking-tight text-gray-100">{{ title }}</h1>
        <h3 class="font-roboto text-2xl md:-translate-y-4 tracking-tight bg-clip-text text-transparent bg-gradient-to-r from-white via-purple-200 to-white">{{ description }}</h3>
    </div>
</header>
{% endblock heading %}

{% comment %}
<div class="flex justify-end text-sm text-blue-600 mb-2">
    <a href="?theme=dark" class="hover:underline">Dark Mode</a>
    <a href="?theme=light" class="mr-4 hover:underline">Light Mode</a>
</div>
{% endcomment %}

{% block content %}
<main>
    <section>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 bg-gray-900">
            <div class="flex flex-col gap-4">
                <div class="flex flex-col min-w-[200px]">
                    <div class="text-xl text-red-400 font-semibold">
                        <h3>Referrals Analysis</h3>
                    </div>
                    <div class="text-lg text-slate-200 font-normal">
                        <div class="p-4">
                            Referrals by Agency
                        </div>
                        {% autoescape off %}
                        {{ fig_agency_treemap|safe }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
