{% load static %}
<aside
  :class="sidebarToggle ? 'translate-x-0 lg:w-[90px]' : '-translate-x-full'"
  class="sidebar fixed left-0 top-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-hidden border-r border-gray-200 bg-white px-5 dark:border-gray-800 dark:bg-black lg:static lg:translate-x-0"
>
  <!-- Sidebar Header -->
  <div :class="sidebarToggle ? 'justify-center' : 'justify-start'" class="flex items-center gap-2 pt-8 pb-7">
  <a href="{% url 'home' %}">
      <span class="logo" :class="sidebarToggle ? 'hidden' : ''">
        <svg class="dark:hidden size-11 text-black hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z" clip-rule="evenodd" />
        </svg>
        <svg class="hidden dark:block size-11 text-white hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z" clip-rule="evenodd" />
        </svg>
      </span>
      <svg class="logo-icon size-8 text-red-400 hover:text-black" :class="sidebarToggle ? 'lg:block' : 'hidden'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z" clip-rule="evenodd" />
      </svg>
    </a>

  <div class="flex flex-col" :class="sidebarToggle ? 'hidden' : ''">
    <span class="text-xs font-semibold uppercase tracking-[0.2em] text-slate-500 dark:text-slate-400">PAFD</span>
    <h2 class="text-2xl font-droid font-semibold leading-tight dark:text-white">CPM Metrics</h2>
  </div>
  </div>
  <!-- End Sidebar Header -->

  <div class="flex flex-col overflow-y-auto duration-300 ease-linear no-scrollbar">
    <!-- Sidebar Menu -->
  <nav x-data="{selected: $persist('Home')}">
      <!-- Menu Group Dashboard -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span class="menu-group-title" :class="sidebarToggle ? 'lg:hidden' : ''">Dashboard</span>
          <svg :class="sidebarToggle ? 'lg:block hidden' : 'hidden'" class="mx-auto fill-current menu-group-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z" fill="" />
          </svg>
        </h3>

        <ul class="flex flex-col gap-4 mb-6">
          <!-- Menu Item Home -->
          <li>
            <a
              href="{% url 'home' %}"
              hx-get="{% url 'home' %}"
              hx-target="#dashboard-main"
              hx-select="#dashboard-main"
              hx-swap="outerHTML"
              hx-push-url="true"
              @click="selected = 'Home'; page = 'coreOverview'; if (window.innerWidth < 1024) sidebarToggle = false"
              class="menu-item group"
              :class=" (selected === 'Home') || (page === 'coreOverview' || page === 'dashboardOverview') ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'Home') || (page === 'coreOverview' || page === 'dashboardOverview') ?  'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                  fill="none"
                  />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Home
              </span>
            </a>
          </li>
          <!-- End Menu Item Home -->


          <!-- Menu Item Program Overviews -->
          <li>
            <a
              href="{% url 'dashboard:patients' %}"
              @click.prevent="selected = (selected === 'Program Overviews' ? '' : 'Program Overviews')"
              class="menu-item group"
              :class="(selected === 'Program Overviews') || ['patientsOverview','referralsOverview','od-referrals-overview'].includes(page) ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'Program Overviews') || ['patientsOverview','referralsOverview','od-referrals-overview'].includes(page) ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 5.25A2.25 2.25 0 0 1 5.25 3h3.5A2.25 2.25 0 0 1 11 5.25v3.5A2.25 2.25 0 0 1 8.75 11h-3.5A2.25 2.25 0 0 1 3 8.75v-3.5ZM13 5.25A2.25 2.25 0 0 1 15.25 3h3.5A2.25 2.25 0 0 1 21 5.25v3.5A2.25 2.25 0 0 1 18.75 11h-3.5A2.25 2.25 0 0 1 13 8.75v-3.5ZM3 15.25A2.25 2.25 0 0 1 5.25 13h3.5A2.25 2.25 0 0 1 11 15.25v3.5A2.25 2.25 0 0 1 8.75 21h-3.5A2.25 2.25 0 0 1 3 18.75v-3.5ZM13 15.25A2.25 2.25 0 0 1 15.25 13h3.5A2.25 2.25 0 0 1 21 15.25v3.5A2.25 2.25 0 0 1 18.75 21h-3.5A2.25 2.25 0 0 1 13 18.75v-3.5Z"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Program Overviews
              </span>

              <svg
                class="menu-item-arrow"
                :class="[(selected === 'Program Overviews') ? 'menu-item-arrow-active' : 'menu-item-arrow-inactive', sidebarToggle ? 'lg:hidden' : '' ]"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu -->
            <div
              class="overflow-hidden transform translate"
              :class="(selected === 'Program Overviews') ? 'block' : 'hidden'"
            >
              <ul
                :class="sidebarToggle ? 'lg:hidden' : 'flex'"
                class="flex flex-col gap-1 mt-2 menu-dropdown pl-9"
              >
                <li>
                  <a
                    href="{% url 'dashboard:patients' %}"
                    hx-get="{% url 'dashboard:patients' %}"
                    hx-target="#dashboard-main"
                    hx-select="#dashboard-main"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    @click="page = 'patientsOverview'; if (window.innerWidth < 1024) sidebarToggle = false"
                    class="menu-dropdown-item group"
                    :class="page === 'patientsOverview' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Patients
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:referrals' %}"
                    hx-get="{% url 'dashboard:referrals' %}"
                    hx-target="#dashboard-main"
                    hx-select="#dashboard-main"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    @click="page = 'referralsOverview'; if (window.innerWidth < 1024) sidebarToggle = false"
                    class="menu-dropdown-item group"
                    :class="page === 'referralsOverview' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Referrals
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:odreferrals' %}"
                    hx-get="{% url 'dashboard:odreferrals' %}"
                    hx-target="#dashboard-main"
                    hx-select="#dashboard-main"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    @click="page = 'od-referrals-overview'; if (window.innerWidth < 1024) sidebarToggle = false"
                    class="menu-dropdown-item group"
                    :class="page === 'od-referrals-overview' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    OD Referrals
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Dropdown Menu -->
          </li>
          <!-- End Menu Item Program Overviews -->


                    <!-- End Menu Item Program Overviews -->


          <!-- Menu Item System Case Studies -->
        </ul>
      </div>
      <!-- End Menu Group Dashboard -->


      <!-- Menu Group Program Briefings -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span class="menu-group-title" :class="sidebarToggle ? 'lg:hidden' : ''">Program Briefings</span>
          <svg :class="sidebarToggle ? 'lg:block hidden' : 'hidden'" class="mx-auto fill-current menu-group-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 3.75c0-.414.336-.75.75-.75h5.25a2.25 2.25 0 0 1 2.25 2.25v13.5a.75.75 0 0 1-1.21.586L16.5 17.21l-1.79 1.126a.75.75 0 0 1-1.21-.586V3.75ZM9 5.25H6a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h3a2.25 2.25 0 0 0 2.25-2.25v-9A2.25 2.25 0 0 0 9 5.25Z" />
          </svg>
        </h3>
        <ul class="flex flex-col gap-4 mb-6">
          <li>
            <a
              href="{% url 'cases:opshield' %}"
              hx-get="{% url 'cases:opshield' %}"
              hx-target="#dashboard-main"
              hx-select="#dashboard-main"
              hx-swap="outerHTML"
              hx-push-url="true"
              @click="selected = 'Program Briefings'; page = 'operationShieldingHope'; if (window.innerWidth < 1024) sidebarToggle = false"
              class="menu-item group"
              :class="page === 'operationShieldingHope' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'operationShieldingHope' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Operation Shielding Hope
              </span>
            </a>
          </li>
            <li>
              <a
                href="{% url 'timeline:index' %}"
                hx-get="{% url 'timeline:index' %}"
                hx-target="#dashboard-main"
                hx-select="#dashboard-main"
                hx-swap="outerHTML"
                hx-push-url="true"
                @click="selected = 'Program Briefings'; page = 'cpmTimeline'; if (window.innerWidth < 1024) sidebarToggle = false"
                class="menu-item group"
                :class="page === 'cpmTimeline' ? 'menu-item-active' : 'menu-item-inactive'"
              >
                <svg
                  :class="page === 'cpmTimeline' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>

                <span
                  class="menu-item-text"
                  :class="sidebarToggle ? 'lg:hidden' : ''"
                >
                  Program Timeline
                </span>
              </a>
            </li>
        </ul>
  </div>

      <!-- Menu Group Case Studies -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span class="menu-group-title" :class="sidebarToggle ? 'lg:hidden' : ''">Case Studies</span>
          <svg :class="sidebarToggle ? 'lg:block hidden' : 'hidden'" class="mx-auto fill-current menu-group-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z" fill="" />
          </svg>
        </h3>
        <ul class="flex flex-col gap-4 mb-6">
          <!-- Menu Item Patient Stories -->
          <li>
            <a
              href="{% url 'blog:list' %}"
              hx-get="{% url 'blog:list' %}"
              hx-target="#dashboard-main"
              hx-select="#dashboard-main"
              hx-swap="outerHTML"
              hx-push-url="true"
              @click="selected = 'Patient Stories'; page = 'caseStudyBlog'; if (window.innerWidth < 1024) sidebarToggle = false"
              class="menu-item group"
              :class="(selected === 'Patient Stories') || (page === 'caseStudyBlog') ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'Patient Stories') || (page === 'caseStudyBlog') ? 'menu-item-icon-active'  : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM6.501 18.118a7.5 7.5 0 0 1 11.998 0A17.933 17.933 0 0 1 12 19.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Patient Stories
              </span>
            </a>
          </li>
          <!-- End Menu Item Patient Stories -->


          <!-- Menu Item System Case Studies -->
          <li>
            <a
              href="{% url 'cases:opshield' %}"
              @click.prevent="selected = (selected === 'System Case Studies' ? '' : 'System Case Studies')"
              class="menu-item group"
              :class="(selected === 'System Case Studies') || ['costSavings','od-referrals-shift-coverage'].includes(page) ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'System Case Studies') || ['costSavings','od-referrals-shift-coverage'].includes(page) ? 'menu-item-icon-active'  : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75 12 3l8.25 3.75M3.75 6.75 12 10.5m0 0 8.25-3.75M12 10.5V21m0 0L3.75 17.25m8.25 3.75L20.25 17.25m-16.5-10.5V17.25m0 0L12 21m8.25-3.75V6.75"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                System Case Studies
              </span>

              <svg
                class="menu-item-arrow"
                :class="[(selected === 'System Case Studies') ? 'menu-item-arrow-active' : 'menu-item-arrow-inactive', sidebarToggle ? 'lg:hidden' : '' ]"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu -->
            <div
              class="overflow-hidden transform translate"
              :class="(selected === 'System Case Studies') ? 'block' : 'hidden'"
            >
              <ul
                :class="sidebarToggle ? 'lg:hidden' : 'flex'"
                class="flex flex-col gap-1 mt-2 menu-dropdown pl-9"
              >
                <li>
                  <a
                    href="{% url 'cases:costsavings' %}"
                    hx-get="{% url 'cases:costsavings' %}"
                    hx-target="#dashboard-main"
                    hx-select="#dashboard-main"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    @click="page = 'costSavings'; if (window.innerWidth < 1024) sidebarToggle = false"
                    class="menu-dropdown-item group"
                    :class="page === 'costSavings' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Cost Savings Analysis
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:odreferrals_shift_coverage' %}"
                    hx-get="{% url 'dashboard:odreferrals_shift_coverage' %}"
                    hx-target="#dashboard-main"
                    hx-select="#dashboard-main"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    class="menu-dropdown-item group"
                    :class="page === 'od-referrals-shift-coverage' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                    @click="page = 'od-referrals-shift-coverage'; if (window.innerWidth < 1024) sidebarToggle = false"
                  >
                    Shift Coverage Analysis
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Dropdown Menu -->
          </li>
          <!-- End Menu Item System Case Studies -->
        </ul>
      </div>

      {% if request.user.is_authenticated %}
        <!-- Menu Group Administration -->
        <div>
          <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
            <span class="menu-group-title" :class="sidebarToggle ? 'lg:hidden' : ''">Administration</span>
            <svg :class="sidebarToggle ? 'lg:block hidden' : 'hidden'" class="mx-auto fill-current menu-group-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5Zm9.75 5.25a9.75 9.75 0 1 1-19.5 0 9.75 9.75 0 0 1 19.5 0Z" />
            </svg>
          </h3>
          <ul class="flex flex-col gap-4 mb-6">
            <li>
                <a
                    href="{% url 'dashboard:hargrove_grant' %}"
                    hx-get="{% url 'dashboard:hargrove_grant' %}"
                    hx-target="#dashboard-main"
                    hx-select="#dashboard-main"
                    hx-swap="outerHTML show:top"
                    hx-push-url="true"
                    @click="selected = 'Administration'; page = 'hargrove-grant'; if (window.innerWidth < 1024) sidebarToggle = false"
                    class="menu-item group"
                    :class="page === 'hargrove-grant' ? 'menu-item-active' : 'menu-item-inactive'"
                >
                    <svg
                    :class="page === 'hargrove-grant' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25M9 16.5v.75m3-3v3M15 12v5.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                    </svg>

                    <span class="menu-item-text" :class="sidebarToggle ? 'lg:hidden' : ''">Hargrove Grant</span>
                </a>
            </li>
            <li>
              <a
                href="{% url 'dashboard:user_profile' %}"
                hx-get="{% url 'dashboard:user_profile' %}"
                hx-target="#dashboard-main"
                hx-select="#dashboard-main"
                hx-swap="outerHTML show:top"
                hx-push-url="true"
                @click="selected = 'Administration'; page = 'profile'; if (window.innerWidth < 1024) sidebarToggle = false"
                class="menu-item group"
                :class="page === 'profile' ? 'menu-item-active' : 'menu-item-inactive'"
              >
                <svg
                  :class="page === 'profile' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>

                <span class="menu-item-text" :class="sidebarToggle ? 'lg:hidden' : ''">My Profile</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'tasks:list' %}"
                hx-get="{% url 'tasks:list' %}"
                hx-target="#dashboard-main"
                hx-select="#dashboard-main"
                hx-swap="outerHTML show:top"
                hx-push-url="true"
                @click="selected = 'Administration'; page = 'tasks'; if (window.innerWidth < 1024) sidebarToggle = false"
                class="menu-item group"
                :class="page === 'tasks' ? 'menu-item-active' : 'menu-item-inactive'"
              >
                <svg
                  :class="page === 'tasks' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M3.75 6A2.25 2.25 0 0 1 6 3.75h12A2.25 2.25 0 0 1 20.25 6v12A2.25 2.25 0 0 1 18 20.25H6A2.25 2.25 0 0 1 3.75 18V6Z" />
                </svg>

                <span class="menu-item-text" :class="sidebarToggle ? 'lg:hidden' : ''">Tasks
                  {% include "tasks/_tasks_badge.html" with element_id="tasks-badge" %}
                </span>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Menu Group Administration -->
      {% endif %}
    </nav>
    <!-- End Sidebar Menu -->
  </div>
</aside>
