{% load static %}
<aside
  :class="sidebarToggle ? 'translate-x-0 lg:w-[90px]' : '-translate-x-full'"
  class="sidebar fixed left-0 top-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-hidden border-r border-gray-200 bg-white px-5 dark:border-gray-800 dark:bg-black lg:static lg:translate-x-0"
>
  <!-- Sidebar Header -->
  <div :class="sidebarToggle ? 'justify-center' : 'justify-start'" class="flex items-center gap-2 pt-8 pb-7">
  <a href="{% url 'home' %}">
      <span class="logo" :class="sidebarToggle ? 'hidden' : ''">
        <svg class="dark:hidden size-8 text-black hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z" clip-rule="evenodd" />
        </svg>
        <svg class="hidden dark:block size-8 text-white hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z" clip-rule="evenodd" />
        </svg>
      </span>
      <svg class="logo-icon size-8 text-red-400 hover:text-black" :class="sidebarToggle ? 'lg:block' : 'hidden'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z" clip-rule="evenodd" />
      </svg>
    </a>

  <h2 class="text-2xl font-droid font-semibold dark:text-white" :class="sidebarToggle ? 'hidden' : ''">CPM Insights</h2>
  </div>
  <!-- End Sidebar Header -->

  <div class="flex flex-col overflow-y-auto duration-300 ease-linear no-scrollbar">
    <!-- Sidebar Menu -->
  <nav x-data="{selected: $persist('Home')}">
      <!-- Menu Group Dashboard -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span class="menu-group-title" :class="sidebarToggle ? 'lg:hidden' : ''">Dashboard</span>
          <svg :class="sidebarToggle ? 'lg:block hidden' : 'hidden'" class="mx-auto fill-current menu-group-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z" fill="" />
          </svg>
        </h3>

        <ul class="flex flex-col gap-4 mb-6">
          <!-- Menu Item Home -->
          <li>
            <a
              href="{% url 'home' %}"
              @click="selected = (selected === 'Home' ? '' : 'Home')"
              class="menu-item group"
              :class=" (selected === 'Home') || (page === 'coreOverview' || page === 'dashboardOverview') ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'Home') || (page === 'coreOverview' || page === 'dashboardOverview') ?  'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                  fill="none"
                  />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Home
              </span>
            </a>
          </li>
          <!-- End Menu Item Home -->


          <!-- Menu Item Program Overviews -->
          <li>
            <a
              href="{% url 'dashboard:patients' %}"
              @click.prevent="selected = (selected === 'Program Overviews' ? '' : 'Program Overviews')"
              class="menu-item group"
              :class="(selected === 'Program Overviews') || ['patientsOverview','referralsOverview','od-referrals-overview','encountersOverview'].includes(page) ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'Program Overviews') || ['patientsOverview','referralsOverview','od-referrals-overview','encountersOverview'].includes(page) ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 5.25A2.25 2.25 0 0 1 5.25 3h3.5A2.25 2.25 0 0 1 11 5.25v3.5A2.25 2.25 0 0 1 8.75 11h-3.5A2.25 2.25 0 0 1 3 8.75v-3.5ZM13 5.25A2.25 2.25 0 0 1 15.25 3h3.5A2.25 2.25 0 0 1 21 5.25v3.5A2.25 2.25 0 0 1 18.75 11h-3.5A2.25 2.25 0 0 1 13 8.75v-3.5ZM3 15.25A2.25 2.25 0 0 1 5.25 13h3.5A2.25 2.25 0 0 1 11 15.25v3.5A2.25 2.25 0 0 1 8.75 21h-3.5A2.25 2.25 0 0 1 3 18.75v-3.5ZM13 15.25A2.25 2.25 0 0 1 15.25 13h3.5A2.25 2.25 0 0 1 21 15.25v3.5A2.25 2.25 0 0 1 18.75 21h-3.5A2.25 2.25 0 0 1 13 18.75v-3.5Z"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Program Overviews
              </span>

              <svg
                class="menu-item-arrow"
                :class="[(selected === 'Program Overviews') ? 'menu-item-arrow-active' : 'menu-item-arrow-inactive', sidebarToggle ? 'lg:hidden' : '' ]"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu -->
            <div
              class="overflow-hidden transform translate"
              :class="(selected === 'Program Overviews') ? 'block' : 'hidden'"
            >
              <ul
                :class="sidebarToggle ? 'lg:hidden' : 'flex'"
                class="flex flex-col gap-1 mt-2 menu-dropdown pl-9"
              >
                <li>
                  <a
                    href="{% url 'dashboard:patients' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'patientsOverview' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Patients Overview
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:referrals' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'referralsOverview' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Referrals Overview
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:odreferrals' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'od-referrals-overview' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    OD Referrals Overview
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:encounters' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'encountersOverview' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Encounters Overview
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Dropdown Menu -->
          </li>
          <!-- End Menu Item Program Overviews -->


          <!-- Menu Item Program Insights -->
          <li>
            <a
              href="{% url 'dashboard:patients_insights' %}"
              @click.prevent="selected = (selected === 'Program Insights' ? '' : 'Program Insights')"
              class="menu-item group"
              :class="(selected === 'Program Insights') || ['patientsInsights','referralsInsights','od-referrals-insights','encountersInsights'].includes(page) ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'Program Insights') || ['patientsInsights','referralsInsights','od-referrals-insights','encountersInsights'].includes(page) ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 3v4.5m0 9V21m4.5-9H21M3 12h4.5m11.91 4.91-3.182-3.182m-6.456 0L6.09 16.91m0-9.82 3.182 3.182m6.456 0L17.91 7.09"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Program Insights
              </span>

              <svg
                class="menu-item-arrow"
                :class="[(selected === 'Program Insights') ? 'menu-item-arrow-active' : 'menu-item-arrow-inactive', sidebarToggle ? 'lg:hidden' : '' ]"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu -->
            <div
              class="overflow-hidden transform translate"
              :class="(selected === 'Program Insights') ? 'block' : 'hidden'"
            >
              <ul
                :class="sidebarToggle ? 'lg:hidden' : 'flex'"
                class="flex flex-col gap-1 mt-2 menu-dropdown pl-9"
              >
                <li>
                  <a
                    href="{% url 'dashboard:patients_insights' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'patientsInsights' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Patients Insights
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:referrals_insights' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'referralsInsights' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Referrals Insights
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:odreferrals_insights' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'od-referrals-insights' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    OD Referrals Insights
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:encounters_insights' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'encountersInsights' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Encounters Insights
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Dropdown Menu -->
          </li>
          <!-- End Menu Item Program Insights -->


          <!-- Menu Item OD Referral Deep Dives -->
          <li>
            <a
              href="{% url 'dashboard:odreferrals_shift_coverage' %}"
              @click.prevent="selected = (selected === 'OD Referral Deep Dives' ? '' : 'OD Referral Deep Dives')"
              class="menu-item group"
              :class="(selected === 'OD Referral Deep Dives') || ['od-referrals-shift-coverage','od-referrals-repeat-overdoses','odreferralsMonthly'].includes(page) ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'OD Referral Deep Dives') || ['od-referrals-shift-coverage','od-referrals-repeat-overdoses','odreferralsMonthly','operationShieldingHope'].includes(page) ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM3 6.75A3.75 3.75 0 0 1 6.75 3h10.5A3.75 3.75 0 0 1 21 6.75v10.5A3.75 3.75 0 0 1 17.25 21H6.75A3.75 3.75 0 0 1 3 17.25V6.75Zm9 4.5v6"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                OD Referral Deep Dives
              </span>

              <svg
                class="menu-item-arrow"
                :class="[(selected === 'OD Referral Deep Dives') ? 'menu-item-arrow-active' : 'menu-item-arrow-inactive', sidebarToggle ? 'lg:hidden' : '' ]"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu -->
            <div
              class="overflow-hidden transform translate"
              :class="(selected === 'OD Referral Deep Dives') ? 'block' : 'hidden'"
            >
              <ul
                :class="sidebarToggle ? 'lg:hidden' : 'flex'"
                class="flex flex-col gap-1 mt-2 menu-dropdown pl-9"
              >
                <li>
                  <a
                    href="{% url 'dashboard:odreferrals_shift_coverage' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'od-referrals-shift-coverage' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Shift Coverage
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:odreferrals_repeat_overdoses' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'od-referrals-repeat-overdoses' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Repeat Overdoses
                  </a>
                </li>
                <li>
                  <a
                    href="{% url 'dashboard:odreferrals_monthly' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'odreferralsMonthly' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Overdoses by Month
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Dropdown Menu -->
          </li>
          <!-- End Menu Item OD Referral Deep Dives -->
        </ul>
      </div>
      <!-- End Menu Group Dashboard -->


      <!-- Menu Group Program Briefings -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span class="menu-group-title" :class="sidebarToggle ? 'lg:hidden' : ''">Program Briefings</span>
          <svg :class="sidebarToggle ? 'lg:block hidden' : 'hidden'" class="mx-auto fill-current menu-group-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 3.75c0-.414.336-.75.75-.75h5.25a2.25 2.25 0 0 1 2.25 2.25v13.5a.75.75 0 0 1-1.21.586L16.5 17.21l-1.79 1.126a.75.75 0 0 1-1.21-.586V3.75ZM9 5.25H6a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h3a2.25 2.25 0 0 0 2.25-2.25v-9A2.25 2.25 0 0 0 9 5.25Z" />
          </svg>
        </h3>
        <ul class="flex flex-col gap-4 mb-6">
          <li>
            <a
              href="{% url 'cases:opshield' %}"
              @click="selected = 'Program Briefings'"
              class="menu-item group"
              :class="page === 'operationShieldingHope' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'operationShieldingHope' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6v6m0 6h.01M4.5 12a7.5 7.5 0 1 1 15 0 7.5 7.5 0 0 1-15 0Z"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Operation Shielding Hope
              </span>
            </a>
          </li>
            <li>
              <a
                href="{% url 'cases:timeline' %}"
                @click="selected = 'Program Briefings'"
                class="menu-item group"
                :class="page === 'cpmTimeline' ? 'menu-item-active' : 'menu-item-inactive'"
              >
                <svg
                  :class="page === 'cpmTimeline' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M5.25 3v5.25M8.25 5.25h-6M18.75 3v5.25M21.75 5.25h-6M4.5 12H2.25m19.5 0H19.5m-7.5 9v-6m0 0 2.25 2.25M12 15l-2.25 2.25M7.5 21h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 5.25 9.75v9A2.25 2.25 0 0 0 7.5 21Z"
                  />
                </svg>

                <span
                  class="menu-item-text"
                  :class="sidebarToggle ? 'lg:hidden' : ''"
                >
                  Program Timeline
                </span>
              </a>
            </li>
        </ul>
  </div>

      <!-- Menu Group Case Studies -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span class="menu-group-title" :class="sidebarToggle ? 'lg:hidden' : ''">Case Studies</span>
          <svg :class="sidebarToggle ? 'lg:block hidden' : 'hidden'" class="mx-auto fill-current menu-group-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z" fill="" />
          </svg>
        </h3>
        <ul class="flex flex-col gap-4 mb-6">
          <!-- Menu Item Patient Stories -->
          <li>
            <a
              href="{% url 'blog:list' %}"
              @click="selected = 'Patient Stories'"
              class="menu-item group"
              :class="(selected === 'Patient Stories') || (page === 'caseStudyBlog') ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'Patient Stories') || (page === 'caseStudyBlog') ? 'menu-item-icon-active'  : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM6.501 18.118a7.5 7.5 0 0 1 11.998 0A17.933 17.933 0 0 1 12 19.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Patient Stories
              </span>
            </a>
          </li>
          <!-- End Menu Item Patient Stories -->


          <!-- Menu Item System Case Studies -->
          <li>
            <a
              href="{% url 'cases:opshield' %}"
              @click.prevent="selected = (selected === 'System Case Studies' ? '' : 'System Case Studies')"
              class="menu-item group"
              :class="(selected === 'System Case Studies') || page === 'costSavings' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="(selected === 'System Case Studies') || page === 'costSavings' ? 'menu-item-icon-active'  : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75 12 3l8.25 3.75M3.75 6.75 12 10.5m0 0 8.25-3.75M12 10.5V21m0 0L3.75 17.25m8.25 3.75L20.25 17.25m-16.5-10.5V17.25m0 0L12 21m8.25-3.75V6.75"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                System Case Studies
              </span>

              <svg
                class="menu-item-arrow"
                :class="[(selected === 'System Case Studies') ? 'menu-item-arrow-active' : 'menu-item-arrow-inactive', sidebarToggle ? 'lg:hidden' : '' ]"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <!-- Dropdown Menu -->
            <div
              class="overflow-hidden transform translate"
              :class="(selected === 'System Case Studies') ? 'block' : 'hidden'"
            >
              <ul
                :class="sidebarToggle ? 'lg:hidden' : 'flex'"
                class="flex flex-col gap-1 mt-2 menu-dropdown pl-9"
              >
                <li>
                  <a
                    href="{% url 'cases:costsavings' %}"
                    class="menu-dropdown-item group"
                    :class="page === 'costSavings' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'"
                  >
                    Cost Savings Analysis
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Dropdown Menu -->
          </li>
          <!-- End Menu Item System Case Studies -->
        </ul>
      </div>

      <!-- Menu Group Administration -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span class="menu-group-title" :class="sidebarToggle ? 'lg:hidden' : ''">Administration</span>
          <svg :class="sidebarToggle ? 'lg:block hidden' : 'hidden'" class="mx-auto fill-current menu-group-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5Zm9.75 5.25a9.75 9.75 0 1 1-19.5 0 9.75 9.75 0 0 1 19.5 0Z" />
          </svg>
        </h3>
        <ul class="flex flex-col gap-4 mb-6">
          <li>
            <a
              href="{% url 'dashboard:user_profile' %}"
              @click="selected = 'Administration'"
              class="menu-item group"
              :class="page === 'profile' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'profile' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>

              <span class="menu-item-text" :class="sidebarToggle ? 'lg:hidden' : ''">My Profile</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- End Menu Group Administration -->
    </nav>
    <!-- End Sidebar Menu -->
  </div>
</aside>
