{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block heading %}
<header class="bg-white shadow-sm">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ title }}</h1>
        <span class="text-sm text-gray-500">{{ description }}</span>
    </div>
</header>
{% endblock heading %}

{% block content %}
<main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        Timeline content
    </div>
    <div>
        Category: Webinar
        Title: What's the latest? EMS-Initiated Buprenorphine
        Date & Time: Jun 4, 2025 12:00 PM Pacific Time (US and Canada)
        Description: 
    </div>
</main>
{% endblock content %}
