<header>
    <nav x-data="{ isOpen : false }">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 bg-gray-900">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="shrink-0">
                        {% with request.resolver_match.url_name as url_name %}
                        <a href="{% url 'index' %}">
                            <svg class="size-8 text-white hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 0 0-1.071-.136 9.742 9.742 0 0 0-3.539 6.176 7.547 7.547 0 0 1-1.705-1.715.75.75 0 0 0-1.152-.082A9 9 0 1 0 15.68 4.534a7.46 7.46 0 0 1-2.717-2.248ZM15.75 14.25a3.75 3.75 0 1 1-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 0 1 1.925-3.546 3.75 3.75 0 0 1 3.255 3.718Z" clip-rule="evenodd" />
                            </svg>
                        </a>
                        {% endwith %}
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            {% with request.resolver_match.url_name as url_name %}
                            <a href="{% url 'index' %}" class="{% if url_name == 'index' %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md px-3 py-2 text-sm font-medium">Solutions</a>
                            <!-- Profile dropdown -->
                            <div x-data="{ dashLinksOpen: false }" @mouseleave="dashLinksOpen = false" class="relative">
                                <a @mouseenter="dashLinksOpen = true" href="{% url 'dashboard' %}" class="{% if url_name == 'dashboard' %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md px-3 py-2 text-sm font-medium">Dashboard</a>
                                <div
                                    x-show="dashLinksOpen"
                                    x-cloak
                                    x-transition:enter="transition ease-out duration-100"
                                    x-transition:enter-start="transform opacity-0 scale-95"
                                    x-transition:enter-end="transform opacity-100 scale-100"
                                    x-transition:leave="transition ease-in duration-75"
                                    x-transition:leave-start="transform opacity-100 scale-100"
                                    x-transition:leave-end="transform opacity-0 scale-95"
                                    class="absolute items-center z-10 mt-1 w-44 origin-center rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="dash-link" tabindex="-1">
                                    <a href="{% url 'dashboard' %}" class="block px-4 py-2 text-sm text-gray-700 border-1 border-transparent hover:bg-gray-200 hover:border-1 hover:border-gray-500 rounded-t-md" role="menuitem" tabindex="-1" id="dash-link-item-0">Overall</a>
                                    <a href="{% url 'patients' %}" class="block px-4 py-2 text-sm text-gray-700 border-1 border-transparent hover:bg-gray-200 hover:border-1 hover:border-gray-500" role="menuitem" tabindex="-1" id="dash-link-item-0">Patients</a>
                                    <a href="{% url 'referrals' %}" class="block px-4 py-2 text-sm text-gray-700 border-1 border-transparent hover:bg-gray-200 hover:border-1 hover:border-gray-500" role="menuitem" tabindex="-1" id="dash-link-item-1">Referrals</a>
                                    <a href="{% url 'odreferrals' %}" class="block px-4 py-2 text-sm text-gray-700 border-1 border-transparent hover:bg-gray-200 hover:border-1 hover:border-gray-500" role="menuitem" tabindex="-1" id="dash-link-item-2">PORT Referrals</a>
                                    <a href="{% url 'encounters' %}" class="block px-4 py-2 text-sm text-gray-700 border-1 border-transparent hover:bg-gray-200 hover:border-1 hover:border-gray-500 rounded-b-md" role="menuitem" tabindex="-1" id="dash-link-item-3">Encounters</a>
                                </div>
                            </div>
                            <a href="{% url 'timeline' %}" class="{% if url_name == 'timeline' %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md px-3 py-2 text-sm font-medium">Timeline</a>
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="hidden md:block">
                    <div class="ml-4 flex items-center md:ml-6">
                        <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">View notifications</span>
                        <svg class="size-6 hover:text-red-300" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                        </svg>
                        </button>

                        <!-- Profile dropdown -->
                        <div x-data="{ profileOpen: false }" class="relative ml-3">
                            <div>
                                <button
                                    @click="profileOpen = !profileOpen"
                                    type="button"
                                    class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden" id="user-menu-button" aria-expanded="false" aria-haspopup="true"
                                >
                                    <span class="absolute -inset-1.5"></span>
                                    <span class="sr-only">Open user menu</span>
                                    <svg class="size-8 text-white hover:text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                        <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                            <div
                                x-show="profileOpen"
                                x-cloak
                                x-transition:enter="transition ease-out duration-100"
                                x-transition:enter-start="transform opacity-0 scale-95"
                                x-transition:enter-end="transform opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-75"
                                x-transition:leave-start="transform opacity-100 scale-100"
                                x-transition:leave-end="transform opacity-0 scale-95"
                                @click.away="profileOpen = false"
                                class="absolute right-0 z-10 mt-1 w-44 origin-top-right rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                <a href="{% url 'index' %}" class="block px-4 py-2 text-sm text-gray-700 border-2 border-transparent hover:bg-gray-200 hover:border-2 hover:border-gray-500 rounded-t-md" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                                <a href="{% url 'dashboard' %}" class="block px-4 py-2 text-sm text-gray-700 border-2 border-transparent hover:bg-gray-200 hover:border-2 hover:border-gray-500" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                                <a href="{% url 'timeline' %}" class="block px-4 py-2 text-sm text-gray-700 border-2 border-transparent hover:bg-gray-200 hover:border-2 hover:border-gray-500 rounded-b-md" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="-mr-2 flex md:hidden">
                    <button @click="isOpen = !isOpen" :aria-checked="isOpen" type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <svg :class="{'hidden': isOpen, 'block': !isOpen }" class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <svg :class="{'block': isOpen, 'hidden': !isOpen }" class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div
            x-show="isOpen"
            class="md:hidden"
            id="mobile-menu"
            x-transition:enter="transition ease-out duration-100 transform"
            x-transition:enter-start="opacity-0 scale-95"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75 transform"
            x-transition:leave-start="opacity-100 scale-100"
            x-transition:leave-end="opacity-0 scale-95"
        >
            <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
                {% with request.resolver_match.url_name as url_name %}
                <a href="{% url 'index' %}" class="{% if url_name == 'index' %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Case Studies</a>
                <a href="{% url 'dashboard' %}" class="{% if url_name == 'dashboard' %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md px-3 py-2 text-sm font-medium">Dashboard</a>
                <a href="{% url 'timeline' %}" class="{% if url_name == 'timeline' %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md px-3 py-2 text-sm font-medium">Timeline</a>
                {% endwith %}
            </div>
            <div class="border-t border-gray-700 pt-4 pb-3">
                <div class="flex items-center px-5">
                <div class="shrink-0">
                    <img class="size-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </div>
                <div class="ml-3">
                    <div class="text-base/5 font-medium text-white">Tom Cook</div>
                    <div class="text-sm font-medium text-gray-400">tom@example.com</div>
                </div>
                <button type="button" class="relative ml-auto shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">View notifications</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                    </svg>
                </button>
                </div>
                <div class="mt-3 space-y-1 px-2">
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Your Profile</a>
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Settings</a>
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Sign out</a>
                </div>
            </div>
        </div>
    </nav>
</header>
